{% renderTemplate "webc", params %}
<card-l :@headline="headline" :@option="option">
  <img webc:if="image" slot="image"
    :src="image"
    alt=""
  />
  <p webc:if="content" slot="content" @raw="content"></p>
</card-l>
{% endrenderTemplate %}
