{% renderTemplate "webc", params %}
<sidebar-l>
  <nav>
    <ul>
      <li>Sidebar Nav Item</li>
      <li>Sidebar Nav Item</li>
      <li>Sidebar Nav Item</li>
      <li>Sidebar Nav Item</li>
    </ul>
  </nav>
  <main class="flow">
    <h1>Primary Headline</h1>
    <p>Body copy</p>
  </main>
</sidebar-l>
{% endrenderTemplate %}
