<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title></title>
    <link rel="canonical" href="https://stevenwoodson.github.io/11ty-design-system/design-system/components/_Compositions/stack/">

    <meta property="og:site_name" content="Eleventy Design System">
    
    <meta property="og:title" content="Eleventy Design System">
    <meta property="og:type">
    <meta property="og:url" content="https://stevenwoodson.github.io/11ty-design-system/design-system/components/_Compositions/stack/">

    

    

    <link rel="stylesheet" href="/11ty-design-system/assets/css/global.css?8c0d-164f-2650">
    <link rel="stylesheet" href="/11ty-design-system/bundle/ds0BZkz0mH.css">
    </head><body>
  
  
    
  <script type="module" src="/11ty-design-system/assets/js/vendor/seven-minute-tabs.js?156c-3cbc-c945" async></script>
  <link rel="stylesheet" href="/11ty-design-system/assets/css/design-system.css?b8b3-d4b6-6528">


<div class="ds">
  <div class="ds__body">
    <nav class="ds__sidebar ds-flow--xs">
      <h1 class="ds-title">
        <a href="/11ty-design-system/design-system/">11ty Design System</a>
      </h1>

      <ul role="list">
        <li>
          <strong>Atoms</strong>
          <ul role="list">
            <li>
              <a href="/11ty-design-system/design-system/Atoms/tokens/" class="ds-link">Design Tokens</a>
            </li>
<li>
              <a href="/11ty-design-system/design-system/Atoms/block/" class="ds-link">Block</a>
            </li>
<li>
              <a href="/11ty-design-system/design-system/Atoms/form/" class="ds-link">Form</a>
            </li>
<li>
              <a href="/11ty-design-system/design-system/Atoms/inline/" class="ds-link">Inline</a>
            </li>
<li>
              <a href="/11ty-design-system/design-system/Atoms/preformatted/" class="ds-link">Preformatted</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul role="list">
  <li>
    
    <div><strong>_Compositions</strong></div>

    
    

    <ul role="list">
      <li>
        <a href="/11ty-design-system/design-system/components/_Compositions/grid/" class="ds-link">Grid</a>
        

        
      </li>
<li>
        <a href="/11ty-design-system/design-system/components/_Compositions/sidebar/" class="ds-link">Sidebar</a>
        

        
      </li>
<li>
        <a href="/11ty-design-system/design-system/components/_Compositions/stack/" class="ds-link">Stack</a>
        

        
      </li>
    </ul>
  </li>
<li>
    <a href="/11ty-design-system/design-system/components/card/" class="ds-link">Card</a>
    

    
    

    <ul role="list">
      <li>
        <a href="/11ty-design-system/design-system/components/card/headline-first/" class="ds-link">Card - Headline First</a>
        

        
      </li>
<li>
        <a href="/11ty-design-system/design-system/components/card/photo-last/" class="ds-link">Card - Photo Last</a>
        

        
      </li>
    </ul>
  </li>
<li>
    <a href="/11ty-design-system/design-system/components/quote/" class="ds-link">Quote</a>
    

    
    

    
  </li>
</ul>

    </nav>

    <main class="ds__main ds-stretch">

<seven-minute-tabs class="ds-stretch">
  <ol role="tablist" class="ds-tabs" aria-label="What does this tab chooser do?">
    <li><a class="ds-link" href="#example-tab" role="tab">Demo</a></li>
    <li><a class="ds-link" href="#code-tab" role="tab">HTML</a></li>
    <li><a class="ds-link" href="#context-tab" role="tab">Context</a></li>
    <li><a class="ds-link" href="/11ty-design-system/design-system/components/full/_Compositions/stack">Full Screen ↗</a></li>
  </ol>

  <div id="example-tab" role="tabpanel" class="ds-stretch">
    <div class="ds-frame ds-stretch">
      <iframe class="ds-stretch" src="/11ty-design-system/design-system/components/full/_Compositions/stack" sandbox="allow-same-origin allow-scripts allow-forms allow-modals" style="" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes"></iframe>
    </div>
  </div>

  <div id="code-tab" role="tabpanel" class="ds-code ds-stretch">
    <pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>stack-l</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h2</span><span class="token punctuation">></span></span>Stack<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h2</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>img</span> <span class="token attr-name">src</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>https://images.unsplash.com/photo-1688494929970-433dd6cab0dc?crop=entropy<span class="token entity named-entity" title="&amp;">&amp;amp;</span>cs=tinysrgb<span class="token entity named-entity" title="&amp;">&amp;amp;</span>fit=max<span class="token entity named-entity" title="&amp;">&amp;amp;</span>fm=jpg<span class="token entity named-entity" title="&amp;">&amp;amp;</span>q=80<span class="token entity named-entity" title="&amp;">&amp;amp;</span>w=400<span class="token punctuation">"</span></span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">></span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">></span></span>more text<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>stack-l</span><span class="token punctuation">></span></span></code></pre>
  </div>

  <div id="context-tab" role="tabpanel" class="ds-code ds-stretch">
    <pre class="language-js"><code class="language-js"><span class="token punctuation">{</span><span class="token punctuation">{</span> <span class="token function">c</span><span class="token punctuation">(</span><span class="token string">"_Compositions/stack"</span><span class="token punctuation">,</span> <span class="token string">"stack"</span><span class="token punctuation">,</span> <span class="token punctuation">{</span>
  <span class="token string-property property">"headline"</span><span class="token operator">:</span> <span class="token string">"Stack"</span><span class="token punctuation">,</span>
  <span class="token string-property property">"page"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
    <span class="token string-property property">"url"</span><span class="token operator">:</span> <span class="token string">"/design-system/components/_Compositions/stack/"</span><span class="token punctuation">,</span>
    <span class="token string-property property">"outputPath"</span><span class="token operator">:</span> <span class="token string">"dist/design-system/components/_Compositions/stack/index.html"</span><span class="token punctuation">,</span>
    <span class="token string-property property">"date"</span><span class="token operator">:</span> <span class="token string">"2023-07-20T01:09:35.222Z"</span><span class="token punctuation">,</span>
    <span class="token string-property property">"inputPath"</span><span class="token operator">:</span> <span class="token string">"./src/design-system/components-pages.njk"</span><span class="token punctuation">,</span>
    <span class="token string-property property">"fileSlug"</span><span class="token operator">:</span> <span class="token string">"components-pages"</span><span class="token punctuation">,</span>
    <span class="token string-property property">"filePathStem"</span><span class="token operator">:</span> <span class="token string">"/design-system/components-pages"</span><span class="token punctuation">,</span>
    <span class="token string-property property">"outputFileExtension"</span><span class="token operator">:</span> <span class="token string">"html"</span><span class="token punctuation">,</span>
    <span class="token string-property property">"templateSyntax"</span><span class="token operator">:</span> <span class="token string">"njk"</span>
  <span class="token punctuation">}</span><span class="token punctuation">,</span>
  <span class="token string-property property">"eleventy"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
    <span class="token string-property property">"version"</span><span class="token operator">:</span> <span class="token string">"2.0.1"</span><span class="token punctuation">,</span>
    <span class="token string-property property">"generator"</span><span class="token operator">:</span> <span class="token string">"Eleventy v2.0.1"</span><span class="token punctuation">,</span>
    <span class="token string-property property">"env"</span><span class="token operator">:</span> <span class="token punctuation">{</span>
      <span class="token string-property property">"source"</span><span class="token operator">:</span> <span class="token string">"cli"</span><span class="token punctuation">,</span>
      <span class="token string-property property">"runMode"</span><span class="token operator">:</span> <span class="token string">"build"</span><span class="token punctuation">,</span>
      <span class="token string-property property">"config"</span><span class="token operator">:</span> <span class="token string">"/home/runner/work/11ty-design-system/11ty-design-system/.eleventy.js"</span><span class="token punctuation">,</span>
      <span class="token string-property property">"root"</span><span class="token operator">:</span> <span class="token string">"/home/runner/work/11ty-design-system/11ty-design-system"</span><span class="token punctuation">,</span>
      <span class="token string-property property">"isServerless"</span><span class="token operator">:</span> <span class="token boolean">false</span>
    <span class="token punctuation">}</span>
  <span class="token punctuation">}</span>
<span class="token punctuation">}</span><span class="token punctuation">)</span> <span class="token punctuation">}</span><span class="token punctuation">}</span></code></pre>
  </div>
</seven-minute-tabs>
</main>
  </div>
</div>


    <script src="/11ty-design-system/bundle/MPJTtgPJkm.js" type="module"></script>
  

</body>
</html>