<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title></title>
    <link rel="canonical" href="https://stevenwoodson.github.io/11ty-design-system/design-system/components/full/quote/">

    <meta property="og:site_name" content="Eleventy Design System">
    
    <meta property="og:title" content="Eleventy Design System">
    </head><body><div>This will render</div>
    
    <meta property="og:type">
    <meta property="og:url" content="https://stevenwoodson.github.io/11ty-design-system/design-system/components/full/quote/">

    

    

    <link rel="stylesheet" href="/11ty-design-system/assets/css/global.css?87b9-88bc-643e">
    <link rel="stylesheet" href="/11ty-design-system">
    
  
  
    <link rel="stylesheet" href="/assets/css/design-system.css?9c11-4da1-7a0e" />

<div class="flow wrapper">
  
  <blockquote class="quote">
  <div class="quote__content">
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
  </div>

  
    <cite>Trys Mudford, Design Engineer</cite>
  
</blockquote>

</div>


    <script src="/11ty-design-system" type="module"></script>
  

</body>
</html>