<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Quote Full Page — Eleventy Design System</title>
    
    <link rel="canonical" href="https://stevenwoodson.github.io/11ty-design-system/design-system/components/full/quote/">

    <meta property="og:site_name" content="Eleventy Design System">
    <meta property="og:title" content="Quote Full Page — Eleventy Design System">
    
    <meta property="og:type">
    <meta property="og:url" content="https://stevenwoodson.github.io/11ty-design-system/design-system/components/full/quote/">

    

    

    <link rel="stylesheet" href="/11ty-design-system/assets/css/global.css?ab4b-3dfd-8e79">
    <link rel="stylesheet" href="/11ty-design-system">
    </head><body>
  
  
    <link rel="stylesheet" href="/assets/css/design-system.css?4d11-ca9c-bd2e" />

<div class="flow wrapper">
  
  <blockquote class="quote">
  <div class="quote__content">
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
  </div>

  
    <cite>Trys Mudford, Design Engineer</cite>
  
</blockquote>

</div>


    <script src="/11ty-design-system" type="module"></script>
  

</body>
</html>