{%- set classNames = "grid" -%}

{%- if params.modifier -%}
  {% set classNames = classNames + " grid--" + params.modifier %}
{% endif -%}


<div class="{{ classNames }}">
  {% for card in params.cards %}
    {% renderTemplate "webc", card %}
      <card-l :@headline="headline" :@option="option">
        <img webc:if="image" slot="image"
          :src="image"
          alt=""
        />
        <p webc:if="content" slot="content" @raw="content"></p>
      </card-l>
      {% endrenderTemplate %}
  {% endfor %}
</div>
