{% renderTemplate "webc", params %}
<stack-l>
  <h2 @html="headline"></h2>
  <div>
    <img src="https://images.unsplash.com/photo-1688494929970-433dd6cab0dc?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&q=80&w=400" />
  </div>
  <p>more text</p>
</stack-l>
{% endrenderTemplate %}
