<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title></title>
    <link rel="canonical" href="https://stevenwoodson.github.io/11ty-design-system/design-system/components/full/card/">

    <meta property="og:site_name" content="Eleventy Design System">
    
    <meta property="og:title" content="Eleventy Design System">
    <meta property="og:type">
    <meta property="og:url" content="https://stevenwoodson.github.io/11ty-design-system/design-system/components/full/card/">

    

    

    <link rel="stylesheet" href="/11ty-design-system/assets/css/global.css?9832-8bb7-02b1">
    <link rel="stylesheet" href="/11ty-design-system">
    </head><body>
  
  
    <link rel="stylesheet" href="/assets/css/design-system.css?5730-1236-962b" />

<div class="flow wrapper">
  
  
    <div class="card flow z-depth-1">
      <img src='https://images.unsplash.com/photo-1688494929970-433dd6cab0dc?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;q=80&amp;w=400' alt=''>
      <h3>Photo First</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, esse nisi. Doloremque assumenda quas ullam ipsa ex quae, reiciendis voluptatum beatae officiis laudantium nesciunt qui rem perferendis eveniet sequi dignissimos.</p>
    </div>


</div>


    <script src="/11ty-design-system" type="module"></script>
  

</body>
</html>