---
title: Preformatted
layout: layouts/ds-static.webc
date: 2023-07-01
---

<p><strong>Keyboard input:</strong> <kbd>Cmd</kbd></p>
<p><strong>Inline code:</strong> <code>&lt;div&gt;code&lt;/div&gt;</code></p>
<p><strong>Block code:</strong></p>
<p>
  <code class="block">
&lt;p&gt;&lt;strong&gt;Keyboard input:&lt;/strong&gt;&lt;kbd&gt;Cmd&lt;/kbd&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Inline code:&lt;/strong&gt;&lt;code&gt;&lt;div&gt;code&lt;/div&gt;&lt;/code&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Block code:&lt;/strong&gt;&lt;/p&gt;
  </code>
</p>
<p>
  <strong>Sample output:</strong>
  <samp>This is sample output from a computer program.</samp>
</p>

<div>
  <pre>
P R E F O R M A T T E D T E X T
! " # $ % &amp; ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
\` a b c d e f g h i j k l m n o
p q r s t u v w x y z | ~ </pre
  >
</div>
