<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Alert Full Page — Eleventy Design System</title>
    
    <link rel="canonical" href="https://stevenwoodson.github.io/11ty-design-system/design-system/components/full/alert/">

    <meta property="og:site_name" content="Eleventy Design System">
    <meta property="og:title" content="Alert Full Page — Eleventy Design System">
    
    <meta property="og:type">
    <meta property="og:url" content="https://stevenwoodson.github.io/11ty-design-system/design-system/components/full/alert/">

    

    

    <link rel="stylesheet" href="/11ty-design-system/assets/css/global.css?96eb-60a4-754f">
    <link rel="stylesheet" href="/11ty-design-system">
    </head><body>
  
  
    <link rel="stylesheet" href="/assets/css/design-system.css?a952-0fc7-6d16" />

<div class="flow wrapper">
  
  <div aria-live="polite" aria-atomic="true" tabindex="-1" class="alert alert--error z-depth-1">
  <h2 class="alert__title headline3">Error Alert</h2>
  <div class="alert__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, esse nisi. Doloremque assumenda quas ullam ipsa ex quae, reiciendis voluptatum beatae officiis laudantium nesciunt qui rem perferendis eveniet sequi dignissimos.

  </div>
</div>



</div>


    <script src="/11ty-design-system" type="module"></script>
  

</body>
</html>